<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/619ebb2432.js" crossorigin="anonymous"></script>
    <title>{{{Title}}} </title>

</head>

<body>
    <div class="pageContainer">
        <div class="HomePage">
            <nav class="navbar has-shadow has-background-success-dark">

                <div class="navbar-brand">
                    <a class="navbar-item">
                        <!-- Here Is where Logo Goes -->
                        <span><img src="img/CrowdCNTRL.png" alt="site logo" style="max-height: 70px"
                                class="py-2 px-2"></span>
                        <div class="brandName is-size-1 has-text-success-light">CROWD CNTRL</div>
                        <a href="/dashboard"></a>
                    </a>
                </div>
                <div class="navbar-menu" id="nav-links">
                    <div class="navbar-end">
                        {{#if loggedIn}}
                        <a href='/logout' class="navbar-item is-size-5 has-text-success">Sign Out</a>
                        {{else}}
                        <a href='/' class="navbar-item is-size-5 has-text-success">Log In</a>
                        {{/if}}
                    </div>
                </div>
            </nav>

            {{{body}}}

            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        <strong>Crowd Cntrl</strong> by Tommy, Abel, Ryan, and Sebastian. The source code is licensed
                        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                    </p>
                </div>
            </footer>

            <script rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>