<div class="container is-fullheight">
    <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box has-background-success-light">
          <div class="label">

            <label for="Name">Name</label>
            <input class="input is-dark" type="text" id="addClientNameField"placeholder="Name">
          </div>
          <div class="label">
            <label for="Name">Phone Number</label>
            <input class="input is-dark" type="text" id="addClientPhoneField"placeholder="Phone Number">
          </div>
          <div class="label">
            <label for="Name">Email</label>
            <input class="input is-dark" type="text" id="addClientEmailField"placeholder="Email">
          </div>
          <div class="column">
            <button id="addClientButton" class="button has-background-success-dark has-text-success-light is-fullwidth" type="submit">Add Customer</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Crowd Cntrl</strong> by Tommy, Abel, Ryan, and Sebastian. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>

    <script src="/js/addclient.js"></script>