
    <div class="hero is-fullheight">

            <div class="column">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth ">
                    <h1 class="title has-shadow is-size-2">CLIENT LIST</h1>
                    <div id="addButton" class="button is-pulled-right mr-6 mb-3 is-success">Add Customer</div>

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Sebastian</td>
                            <td>Team Member</td>
                            <td>Set Up Home Page</td>
                            <td>
                                <a id="editButton" href="#" type="button" class="button is-light is-small is-info"><i
                                        class="fa-solid fa-file-pen pr-1"></i>
                                    Edit</a>
                                <a id="deleteButton" href="#" type="button"
                                    class="button is-light is-small is-danger"><i class="fa-solid fa-trash pr-1"></i>
                                    Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Tommy</td>
                            <td>Project Manger</td>
                            <td>Set Up Meeting With Team</td>
                            <td>
                                <a href="#" type="button" class="button is-light is-small is-warning"><i
                                        class="fa-regular fa-eye pr-1"></i>
                                    View</a>
                                <a href="#" type="button" class="button is-light is-small is-info"><i
                                        class="fa-solid fa-file-pen pr-1"></i>
                                    Edit</a>
                                <a href="#" type="button" class="button is-light is-small is-danger"><i
                                        class="fa-solid fa-trash pr-1"></i> Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Abel</td>
                            <td>Team Member</td>
                            <td>Help With BackEnd Work</td>
                            <td>
                                <a href="#" type="button" class="button is-light is-small is-warning"><i
                                        class="fa-regular fa-eye pr-1"></i>
                                    View</a>
                                <a href="#" type="button" class="button is-light is-small is-info"><i
                                        class="fa-solid fa-file-pen pr-1"></i>
                                    Edit</a>
                                <a href="#" type="button" class="button is-light is-small is-danger"><i
                                        class="fa-solid fa-trash pr-1"></i> Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>Ryan</td>
                            <td>Team Member</td>
                            <td>Set Up Sign Up Page</td>
                            <td>
                                <a href="#" type="button" class="button is-light is-small is-warning"><i
                                        class="fa-regular fa-eye pr-1"></i>
                                    View</a>
                                <a href="#" type="button" class="button is-light is-small is-info"><i
                                        class="fa-solid fa-file-pen pr-1"></i>
                                    Edit</a>
                                <a href="#" type="button" class="button is-light is-small is-danger"><i
                                        class="fa-solid fa-trash pr-1"></i> Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
        </div>
    