<div class="container is-fullheight">
        <div class="hero is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box has-background-success-light">
                    <div class="label">
                        <label for="Login">Email</label>

                        <input class="input is-dark" id = "email-signup" type="text" placeholder="Email">
                    </div>
                    <div class="label">
                        <label for="Password">Password</label>
                        <input class="input is-dark" id = "password-signup" type="text" placeholder="Phone Number">
                    </div>
                    <div class="column">
                        <button id="logInButton" class="button has-background-success-dark has-text-success-light is-fullwidth" type="submit">Log In</button>
                    </div>
                    <div class="column">
                        <button id="signUpButton" class="button has-background-success-dark has-text-success-light is-fullwidth" type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>