@import url("https://use.typekit.net/pin8mkv.css");

* {}



footer {
    font-size: 12px;
    margin: 0;
    position: relative !important;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    width: 100%;
    bottom: 0;
  }